// default
.catd-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  // text-align: center;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
}

// disabled
.catd-button:disabled {
  transition: none;
  cursor: not-allowed;
  opacity: 0.3;
}

// hover
.catd-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.catd-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.catd-button:hover span {
  padding-right: 15px;
}

.catd-button:hover span:after {
  opacity: 1;
  right: 0;
}

// type
.catd-button__type--default {
  color: black;
  background-color: lightgray;
  border-color: gray !important;
}

.catd-button__type--primary {
  color: white;
  background-color: darkgreen;
  border-color: green !important;
}

.catd-button__type--danger {
  color: white;
  background-color: darkred;
  border-color: red !important;
}

// size
.catd-button__size--small {
  font-size: 12px;
  padding: 10px 16px;
}

.catd-button__size--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.catd-button__size--large {
  font-size: 16px;
  padding: 12px 24px;
}

// style

.catd-button__style--fill {
  // border: 1px solid;
}

.catd-button__style--outlined {
  color: black !important;
  border: 1px solid;
  background: none;
}

.catd-button__style--dashed {
  color: black !important;
  border: 1px dashed;
  background: none;
}

.catd-button__style--text {
  color: black !important;
  border: none;
  background: none;
}
