.jmin-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.jmin-button:disabled {
  cursor: not-allowed;
  background-color: #f2f2f2;
}

// types
.jmin-button--default {
  color: black;
  border-color: red;
}
.jmin-button--primary {
  color: white;
  background-color: #2182fa;
  border-color: #2182fa;
}
.jmin-button--danger {
  color: white;
  background-color: #ff414c;
  border-color: #ff414c;
}
.jmin-button--text {
  color: black;
}
.jmin-button--link {
  color: #2182fa;
}

// sizes
.jmin-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.jmin-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.jmin-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
